<h1>Listing feedbacks</h1>

<table>
  <tr>
    <th>Rating</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feedbacks.each do |feedback| %>
  <tr>
    <td><%= feedback.rating %></td>
    <td><%= feedback.comment %></td>
    <td><%= link_to 'Show', [feedback.product, feedback] %></td>
    <td><%= link_to 'Edit', edit_product_feedback_path(feedback.product, feedback) %></td>
    <td><%= link_to 'Destroy', [feedback.product, feedback], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feedback', new_product_feedback_path(params[:product_id]) %>
